/* beginhq */

@font-face{
    font-family: 'QumpellkaNo12';
    src: url('/asset/fonts/QumpellkaNo12-webfont.eot');
    src: url('/asset/fonts/QumpellkaNo12-webfont.eot?#iefix') format('embedded-opentype'),
         url('/asset/fonts/QumpellkaNo12-webfont.woff') format('woff'),
         url('/asset/fonts/QumpellkaNo12-webfont.ttf') format('truetype'),
         url('/asset/fonts/QumpellkaNo12-webfont.svg#EntypoCustom') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'OswaldLight';
    src: url('/asset/fonts/Oswald-Light-webfont.eot');
    src: url('/asset/fonts/Oswald-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/asset/fonts/Oswald-Light-webfont.woff') format('woff'),
         url('/asset/fonts/Oswald-Light-webfont.ttf') format('truetype'),
         url('/asset/fonts/Oswald-Light-webfont.svg#EntypoCustom') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'RobotoCondensed';
    src: url('/asset/fonts/Roboto-Condensed-webfont.eot');
    src: url('/asset/fonts/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('/asset/fonts/Roboto-Condensed-webfont.woff') format('woff'),
         url('/asset/fonts/Roboto-Condensed-webfont.ttf') format('truetype'),
         url('/asset/fonts/Roboto-Condensed-webfont.svg#EntypoCustom') format('svg');
    font-weight: normal;
    font-style: normal;
}

//variables

@green: #A3D9B0;
@light: #F2F0D5;
@paper: #F4F1EC;
@coffee: #40362E;
@darkGreen: #93BF9E;
@grey: #8C8474;

@font-basis: 'Helvetica', 'Arial', sans-serif;
@font-title: 'QumpellkaNo12', 'Helvetica', 'Arial', sans-serif;
@font-alt: 'RobotoCondensed', 'Helvetica', 'Arial', sans-serif;
@font-sans: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

//general

.font(@scale){
    font-size: @scale * 16px;
    font-size: @scale * 1rem;
}

.border-radius(@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.box-shadow(@shadowA, @shadowB:X, ...){
	@props: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;
	-webkit-box-shadow: @props;
	-moz-box-shadow: @props;
	box-shadow: @props;
}

.box-sizing(@boxmodel) {
	-webkit-box-sizing: @boxmodel;
	-moz-box-sizing: @boxmodel;
	box-sizing: @boxmodel;
}

.background-clip(@clip) {
	-webkit-background-clip: @clip;
	-moz-background-clip: @clip;
	background-clip: @clip;
}

.transition(@transitionA, @transitionB:X, ...) {
	@props: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;
	-webkit-transition: @props;
	-moz-transition: @props;
	-o-transition: @props;
	transition: @props;
}

.wrap{
	max-width: 800px;
	margin: 0 auto;
}

.background-playground(@color, @crossColor) {

	background: 
	radial-gradient(circle, transparent 20%, @color 20%, @color 80%, transparent 80%, transparent),
	radial-gradient(circle, transparent 20%, @color 20%, @color 80%, transparent 80%, transparent) 50px 50px,
	linear-gradient(@crossColor 8px, transparent 8px) 0 -4px,
	linear-gradient(90deg, @crossColor 8px, transparent 8px) -4px 0;

	background-color: @color;
	background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
	.background-clip(padding-box);

}

//main

body {
	background-color: white;
	color: @coffee;
	font-family: @font-sans;
	background: url(/asset/img/bg.jpg) no-repeat top left;
	background-size: cover;
}

header.top {
	position: relative;
	background-color: fadeout(@paper, 20%);
	overflow: hidden;

	a{
		text-decoration: none;
	}

	div.header{
		display: block;
		width: 300px;
		margin: 1em auto;
		overflow: hidden;

		.logo{
			font-family: @font-basis;
			font-weight: normal;
			text-align: center;
			margin: 0;
			position: relative;
			top: 20px;
			.font(4);
			.transition(color .5s ease, top .5s ease);

			span:first-child{
				font-family: @font-title;
			}
		}

		.tagline{
			margin: 0;
			text-align: center;
			font-family: @font-alt;
			.font(1.375);
			opacity: 0;
			position: relative;
			top: -20px;
			border-top: 1px solid transparent;
			.transition(opacity .5s ease, top .5s ease);
		}

		.green{
			color: @green;
			text-shadow: -1px -1px 0 darken(@darkGreen, 10%);

			&.small{
				color: darken(@green, 10%);
				text-shadow: 1px 1px 0 lighten(@darkGreen, 30%);
			}

			&.border{
				margin: 0.25em 0 0;
				padding: 0.25em 0 0;
				border-top: 1px solid darken(@green, 10%);
				.box-shadow(inset 0 1px 0 0 lighten(@green, 20%));
			}
		}

		a:hover, a:focus{
			.logo{
				top: 0;
				color: darken(@green, 15%);
				text-shadow: -1px -1px 0 darken(@darkGreen, 30%);
			}
			.tagline{
				opacity: 1;
				top: 0;
			}
		}
	}


	nav{
		display: block;

		ul.menu{
			list-style: none;
			padding: 0;
			width: 90%;
			margin: 0 auto;
			overflow: hidden;

			li{
				float: left;
				display: block;
				width: 25%;
				text-align: center;

				a{
					display: block;
					color: @grey;
					width: 90%;
					margin: 0 auto;
					line-height: 2;
					border-bottom: 3px solid transparent;
					.font(1.125);

					&:hover{
						color: @coffee;
						border-bottom: 3px solid @coffee;
					}

					&.active{
						border-bottom: 3px solid @grey;
					}
				}
			}
		}
	}

	@media screen and (min-width: 320px) {

	}

	@media screen and (min-width: 600px) {
		padding-top: 0.25em;
		.border-radius(0 0 4px 4px);
		border-bottom: 3px solid lighten(@grey, 10%);

		div.header{
			width: auto;
			margin: 1em;

			.logo{
				top: 0;
				display: inline-block;
			}

			.tagline{
				top: 0;
				left: -30px;
				display: inline-block;
				.transition(left .5s ease .5s, opacity .5s ease .5s);
			}

			.green.border{
				border: none;
				.box-shadow(none);
			}

			a:hover, a:focus{
				.logo{
					
				}
				.tagline{
					left: 10px;
				}
			}
		}

		nav{
			position: absolute;
			top: 0;
			right: 0;
			width: 55%;
			.box-shadow(inset 0 -1px 0 0 lighten(@grey, 20%));
			border-bottom: 1px solid lighten(@grey, 50%);

			ul.menu li a{
				line-height: 3;
			}
		}
	}

	@media screen and (min-width: 800px) {


	}
}

div.intro{
	overflow: hidden;
	text-align: center;

	p{
		color: white;
		font-family: @font-alt;
		line-height: 2.5;
		text-shadow: 1px 1px 0 darken(@grey, 10%);
		.font(1.125);

		span{
			.font(1.75);
			text-shadow: 1px 1px 0 darken(@grey, 10%);
		}
	}

	@media screen and (min-width: 550px) {
		p{
			line-height: 2;
			.font(1.5);
			text-shadow: 1px 1px 0 darken(@grey, 15%);

			span{
				.font(2.5);
				text-shadow: 1px 2px 0 darken(@grey, 15%);
			}
		}
	}
}

div.main{
	background-color: fadeout(@light, 40%);
	overflow: hidden;
	
	h2.section{
		margin: 1em;
		color: @grey;
		font-family: @font-alt;

		&:before{
			content: "//";
		}
	}

	article{
		z-index: 1;
		position: relative;
		margin: 2em;
		padding: 1em;
		background-color: @paper;

		&:before{
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 0;
			height: 0;
			border-width: 30px 0 0 30px;
			border-color: darken(@paper, 20%) darken(@paper, 10%); //need to match :after border color
			border-style: solid;
			.box-shadow(-2px 2px 2px 0 fadeout(black, 70%));
		}

		&:after{
			z-index: -1;
			content: "";
			position: absolute;
			top: -4px;
			right: -4px;
			left: -4px;
			bottom: -4px;
			border: 4px solid darken(@paper, 20%); //need to match :before corner color
			background-color: @paper;
			.border-radius(4px);
		}

		header{
			border-bottom: 1px solid darken(@paper, 15%);

			h2.title{
				font-family: @font-alt;
			}
			span.date{
				font-family: @font-alt;
				color: @grey;
			}
		}
	}

	@media screen and (min-width: 600px) {
		.border-radius(4px);
	}

}

footer{
	margin-top: 2em !important;
	overflow: hidden;
	.background-playground(@paper, darken(@paper, 5%));

	ul.columns{
		list-style: none;
		padding: 0;
		margin: 0;
		overflow: hidden;

		> li{
			display: block;
			padding: 1em;
			color: @grey;

			p{
				margin: 0;
			}

			a{
				color: darken(@darkGreen, 20%);
				text-decoration: none;

				&:hover, &:focus{
					text-decoration: underline;
				}
			}

			h3{
				margin: 0.5em 0;
				font-family: @font-alt;
				color: @coffee;
				text-shadow: 1px 1px 0 @darkGreen;

				&:before{
					content: "//";
				}
			}
		}
	}

	@media screen and (min-width: 600px) {
		.border-radius(4px 4px 0 0);

		div.info{

			ul.columns{

				> li{
					float: left;
					width: 33%;
					.box-sizing(border-box);
				}
			}
		}
	}

}

